/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Hero Section */
  .hero {
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('background.jpg') center/cover no-repeat; */
    background-image: url(hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 20px;
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    /* transition: 3s ease-in; */
  }
  
  .hero p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .cta-button {
    display: inline-block;
    /* background: #ff6f61; */
    background: crimson;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .cta-button:hover {
    /* background: #e53935; */
    background: rgba(220, 20, 60, 0.651);
  }
  
  /* Features Section */
  .features {
    padding: 50px 0;
    text-align: center;
    margin-top: 50px;
  }
  
  .features h2 {
    font-size: 2rem;
    margin-bottom: 30px;
  }
  
  .feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .feature-card {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .feature-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .feature-card p {
    font-size: 1rem;
    color: #666;
  }
  /* Authors */
  .authors{
    margin-bottom: 50px;
    margin-top: 50px;
    /* height: 100vh; */
  }
  
  .authors .container h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .authors .container .author-container{
    text-align: center;
  }
  .author-container {
    display: flex;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  .authors .container .author-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;    /* Only one border-radius */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
 .authors .container .author-container h2{
  font-size: 1.2rem;
  line-height: 1.3rem;
  font-weight: 300;   
    }
  /* Authors */

  /* Call to Action */
  .cta {
    background: #ff6f61;
    color: white;
    text-align: center;
    /* padding: 50px 20px; */
    padding: 70px 20px 50px;
  }
  
  .cta h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .cta p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }